//
#feed{
    width: 100%;

    .wrapper{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        column-gap: 1rem;
        row-gap: 1rem;

        & > *{
            background: orange;
            width: 100%;
        }
        
        & > [style^='--aspect-ratio']::before{
            content: "";
            display: inline-block;
            width: 1px;
            height: 0;
            padding-bottom: calc(100% / (var(--aspect-ratio)));           
        }

        .item{
            background:#eee;
            text-align:center;
            position:relative;
            overflow:hidden;
            a{
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                font-size:1.5rem;
                padding-top:calc(50% - .75rem);
            }
        }
    }
}